---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- enumerar etiquetas 
  <div>
  Etiquetas: {% for tag in site.tags %} {{ tag[0] }}, {% endfor %}
  </div>
  fin etiquetas
    habría que incluir enlaces a etiquetas -->

  <!-- posts con la misma categoría 

  <br>

  <div class="related">
    <h3>Entradas relacionadas:</h3>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
        {% unless page.permalink == related.permalink %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <a href="{{related.permalink}}">{{ related.title }}</a>
        {% endunless %}

        {% if relatedCount == 3 %}
            {% break %}
        {% endif %}
    {% endfor %}
</div>

 fin código categorías -->

</article>



